body {
  margin: 0;
  font-family:' Titillium Web', Helvetica, Arial, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f1faee;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title {
  margin: 20px;
  h1 {
    color: #1D3557;
    text-align: center;
    font-size: 40px;
  }
}

h3 {
  font-weight: 500;
  color: #393939;
}

button {
  font-size: 20px;
  padding: 15px 55px;
  color: #F1FAEE;
  background-color: #457B9D;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  border-radius: 0.5rem;
}

button:hover {
  box-shadow: none;
  color: #A8DADC;
}

.mainContainer {
  display: flex;
  justify-content: space-evenly;

  &.homePage {
    margin-top: 100px;

    button {
      font-size: 30px;
      padding: 200px 150px;
    }
  }
}

.submit-button {
  display: flex;
  justify-self: center;
  margin: 50px 0;
}

textarea {
  border: 1px solid #dedede;
  border-radius: 0.5rem;
  margin-top: 20px;
  padding: 12px;
  font-size: 16px;
  width: 90%;
  height: 250px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 30px;

  .inputBox {
    margin-bottom: 30px;
  }

  input {
   padding: 10px;
   font-size: 20px;
  }

  h4 {
    background-color: #e2e2e2;
    padding: 20px;
  }

  .checkbox-input {
    display: flex;
    padding: 10px;

    .description{ 
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 20px;

      label {
        font-size: 14px;
        color: #6d6d6d;
        margin-bottom: 10px;
      }

      span {
        font-size: 20px;
      }
    }
  }
}